   /* large views **************************/
   @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Roboto+Condensed:ital,wght@1,300&family=Tapestry&display=swap');
        body {
            font-family: 'Roboto Condensed', sans-serif;
            margin-right: 0%;
            max-width: 100%;
        }
        header {
            color: white;
            text-align: center;
            background-color: #DC1A21;
            display: grid;
        }    
        main {
            
            margin-left: 0px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            main section {
                margin-top: 20px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                border: 1px solid black;
                display: grid;
                grid-template-columns: 1fr;
                width: 450px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .gridarea {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas:
                "header"
                "main"
                "footer";
            }
            
            .background {
                background-color: #F6AA1C;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .sub-tittle {
                color: white;
                margin-left: 20px;
            }
            a {
                margin-left: 20px;
            }
            .company {
                margin-left: 20px;
            }
            .description {
                margin-left: 20px;
                margin-right: 20px;
            }
            
            footer {
                margin-top: 20px;
                text-align: center;
                margin: 0px;
                background-color: #373F51;
                display: grid;
            }
            #text {
                padding-top: 10px ;
                font-family: sans-serif ;
                color: white;
            }
    
            .img{
                width: 410px;
                margin: 20px;
            }
            
            

/* medium views **************************/
@media (max-width: 960px) {

main {
    display: grid;
        grid-template-columns: 1fr 1fr;
    }

.img{
        width: 300px;
        margin: 20px;
    }

main section {
    width: 340px;
        
}

    }

    /* small views **************************/
@media (max-width: 760px){
    
    main {
        margin: 0px 20px 20px 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    }
