@media (min-width: 32.5em){}
#me { 
    width: 60px;
    margin: 10px;
    grid-column: 1;
    box-shadow: 5px 5px 10px #6f7364;
}

#tittle {
    font-family: sans-serif ;
    font-size: small;
}
h1 {
    font-family: sans-serif ;
    align-self: center;
    grid-column: 2/4;
    color: white;
    font-size: medium;
}
#text {
    padding-top: 10px ;
    font-family: sans-serif ;
    color: white;
    font-size: small;
}
#update {
    padding-bottom: 20px;
    color: #F6AA1C;
    font-size: smaller;
}