body {
    font-family: Roboto Condensed;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    background-image: url("img/background.jpg");
  }

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
    color:#36454f;
  }
  p {
    font-family: sans-serif;
  }
/* HEADER */
header{
    display: flex;
    background-color: #008037;
    background-image: url("img/rsz_background.jpg");
}
.logo{
    width: 100px;
    border-radius: 20%;
    margin: 10px;
}
.tittle{
    align-self: center;
    color: white;
}
/* NAVIGATION BAR */
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    /* top: 20px;
    left: 10px; */
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
/* MAIN */
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(4,1fr) */
}
.drink-section{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 500px;
    margin-bottom: 20px;
    grid-column: 2/10;
    border-radius: 20px;
    background-color: #C9E265;
    /* background-image: url("img/rsz_background.jpg"); */
    border: 0px;
    box-shadow: 5px 5px 10px black;
  }
  
  /* CREATE A DRINK SECTION */
  form{
    grid-column: 2/5;
  }
  #drink-section{
    margin-top: 50px;
    width: 100%;
    grid-column: 6/9;
  }
  #drink{
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 5px 10px black;
  }
  label{
    display: inline-block;
    margin: 10px;
    align-self: auto;
  }
  input {
    margin-left: 10px;
    padding: 5px 10px;
  }
  /* DELIVERY SECTION */
  #drink-section div{
    display: flex;
    margin-top: 10px;
  }
  #delivery-icon{
    margin-left: 10px ;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-self: center ;
  }
  
  #drink-section h2{
    margin-left: 10px ;
  }
  #drink-section p{
    text-align: left;
    margin-left: 30px ;
  }
  #impact-text{
    margin-left: 30px;
    font-family:'Courier New', Courier, monospace;
  }
/* FOOTER */
footer {
    background-color: #C20114;
    display: flex;
    margin: 0px;
    justify-content: center;
    color: white;
}
#media{
    align-self: center;
    margin-left: 5%;
}
#media img{
    margin: 5px;
    width: 40px;
    border-radius: 10px;
}