@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
    font-family: Roboto Condensed;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    background-image: url("img/background.jpg");
  }

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
    color:#36454f;
  }
  p {
    font-family: sans-serif;
  }
/* HEADER */
header{
    display: flex;
    background-color: #008037;
    background-image: url("img/rsz_background.jpg");
}
.logo{
    width: 100px;
    border-radius: 20%;
    margin: 10px;
}
.tittle{
    align-self: center;
    color: white;
}
/* NAVIGATION BAR */
nav{
  display: none;
}
.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  /* top: 20px;
  left: 10px; */
  background: #36454f;
  overflow-x: hidden;
  padding: 8px 0;
}
  
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  background-color: #708080;
  color: #C9E265;
}
/* MAIN */
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: repeat(4,1fr) */
}
.drink-section{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* height: 500px; */
    margin-bottom: 20px;
    grid-column: 2/10;
    border-radius: 20px;
    background-color: #C9E265;
    /* background-image: url("img/rsz_background.jpg"); */
    border: 0px;
    box-shadow: 5px 5px 10px black;
  }
  
  /* CREATE A DRINK SECTION */
  form{
    grid-column: 2/6;
  }
  
  #drink{
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 5px 10px black;
  }
  label{
    display: inline-block;
    margin: 10px;
    align-self: auto;
  }
  input {
    margin-left: 10px;
    padding: 5px 10px;
  }
  #fruit-options{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #fruit-options input{
    margin-left: 2px;
  }
  legend{
    text-align: left;
  }
  /* DELIVERY SECTION */
  #drink-section{
    margin-top: 50px;
    width: 100%;
    grid-column: 7/10;
  }
  #drink-section div{
    display: flex;
    margin-top: 10px;
  }
  #delivery-icon{
    margin-left: 10px ;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-self: center ;
  }
  
  #drink-section h2{
    margin-left: 10px ;
  }
  #drink-section p{
    text-align: left;
    margin-left: 30px ;
  }
  #impact-text{
    margin-left: 30px;
    font-family:'Courier New', Courier, monospace;
  }
  #item-field{
    display: flex;
    flex-direction: column;
    grid-column: 7/10;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  #date{
    font-size: .7em;
  }
  .fruit-attribute{
    font-size: .8em;
  }
  #instruction{
    margin: 10px;
  }
  .submitBtn{
    border-radius: 4px;
    background-color:#36454f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 10px;
    
}
.submitBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submitBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .submitBtn:hover{
    box-shadow: 5px 5px 10px black;
  }
  .submitBtn:hover span {
    padding-right: 25px;
    
  }
  
  .submitBtn:hover span:after {
    opacity: 1;
    right: 0;
  }
/* FOOTER */
footer {
  background-color: #C20114;
  display: flex;
  margin: 0px;
  justify-content: center;
  color: white;
}

#media{
  align-self: center;
  margin-left: 5%;
  
}
#media img{
  margin: 5px;
  width: 40px;
  border-radius: 10px;
}
#text{
  margin-left: 20px;
  font-size: 1em;
  align-self: center;
  color: white;
}
#resource{
  color: yellow;
  text-decoration: none;
}
@media (max-width: 800px){
  /* HEADER */
  .sidenav {
      display: none;

  } 
  nav {
      display:block;
      width: 100%;
      background-color: #36454f;
      text-align: center;
      display: flex;
      justify-content: space-around;
  }
  
  
  nav div {
      flex: 1 1 auto ;
  }
  
  nav a {
      display: block;
      color: #fff;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-size: 0.9rem;
  }
  
  nav a:hover {
      background-color: #708080;
      color: #C9E265;
  }
  /* MAIN */
.drink-section{
  display: flex;
  flex-direction: column-reverse;
}
#drink{
  margin-top: -50px;
}
  

.tittle{
  font-size: 1.3em;
}
#text{
  margin-left: 20px;
  font-size: 1em;
  align-self: center;
}
#media{
  display: flex;
}
#media a img {
  width: 40px;
}
footer .tittle{
  display: none;
}

}

@media (max-width: 570px){
  
  footer .logo{
    width: 70px;
    height: 70px;
    align-self: center;
}
}
@media (max-width: 500px){
  #fruit-options{
    grid-template-columns: 1fr 1fr;
  }
  #media{
    flex-direction: column;
  }
  #media a img{
    width: 30px;
  }
}