@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
  }
p {
    font-family: sans-serif;  
}
body{
    margin: 0px;
}
header, footer{
    background-color: #A1A5AA;
	width: 100%;
}
header h3{
	text-align: center;
	padding-bottom: 20px;
	color: white;

}
#background {
	background-color: #004AAD ;
	padding-top: 5px;
}
.nav-flow{
    display: flex;
	border-bottom: 1px solid black;
}
.logo {
    display: flex;
	
}
#logo-txt h3{
	text-align: left;
	color: black;
}
.logo1 img {
    width: 100px;
    border-radius: 100%;
}
.logo1 {
    display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
}
.logo img {
    width: 100px;
    border-radius: 100%;
}
.logo1 h3 {
	margin-left: 150px;
}
#text {
	text-align: center;
}
.flow{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(3, 150px);
	gap: 10px;
}


.flow3{
	background-color: gray;
	width: 100%;
	height: 100%;
	grid-column: 8/9;
	grid-row: 1/4;
}

span#spot {
	display: block;
	background-color: #A1A5AA;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	width: 140px;
	height: 140px;
	border: 1px solid black;
}
span#spot1 {
	display: block;
	background-color: #A1A5AA;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	width: 140px;
	height: 140px;
	border: 1px solid black;
}
span#spot2 {
	display: block;
	background-color: #A1A5AA;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	width: 140px;
	height: 140px;
	border: 1px solid black;
}


#event {
	
	width: 100%;
	grid-column: 3/4;
	grid-row: 1/2;
	background-color: gray;
}
#weather{
	width: 100%;
	background-color: gray;
	grid-column: 3/4;
	grid-row: 2/3;
}

#join {
	width: 100%;
	background-color: gray;
	grid-column: 3/4;
	grid-row: 3/4;
}
#box {
	grid-column: 4/8;
	grid-row: 1/3;
	width: 100%;
	background-color: gray;
}
#box1 {
	grid-column: 4/8;
	grid-row: 3/4;
	width: 100%;
	background-color: gray;
	
}


nav {
	margin: 0 auto;
	display: flex;
}
.navigation {
	display: flex;
	list-style: none;
	padding: 0;
	align-self: center;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.5em;
}


.navigation a:hover {
	color: white;
	background-color: black;
}

.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}

.navigation li:first-child {
    display: none;
}
.flexible {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
}
.social {
	margin-right: 0px;
	align-self: center;
	margin-left: 200px;
}

.social svg {
	width: 25px;
	height: auto;
}
footer{
	margin-top: 10px;
}
