@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed';
  }
p {
    font-family: 'sans-serif';  
}
body{
    margin: 0px;
}
#banner{
	background-color: #004AAD ;
	text-align: center;
	color: white;
	font-size: 1.5em;
}
header, footer{
    background-color: #A1A5AA;
	width: 100%;
}
header h3{
	text-align: center;
	padding-bottom: 20px;
	color: white;

}
#background1 {
	background-color: #004AAD ;
	padding-top: 5px;
}
.nav-flow{
    display: flex;
	border-bottom: 1px solid black;
}
.logo {
    display: flex;
	
}
.logo-txt h3{
	text-align: left;
	color: black;
}
.logo1 img {
    width: 100px;
    border-radius: 100%;
}
.logo1 {
    display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
}
.logo img {
    width: 100px;
    border-radius: 100%;
}
.logo1 h3 {
	margin-left: 150px;
}
#text {
	text-align: center;
}
.flow{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(3, 150px);
	gap: 10px;
}


.flow3{
	background-color: #004AAD;
	width: 100%;
	height: 100%;
	grid-column: 8/10;
	grid-row: 1/4;
}
.flow3 p{
	color: white;
	text-align: center;
	margin-top: -10px;
	font-size: .8em;
	text-shadow: 5px 5px 10px black;
	margin: 0 10px 0 10px;
}
.flow3 a{
	text-shadow: 5px 5px 10px black;
	color: yellow;
}
#spot {
	display: block;
	background-color: #004AAD;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 85%;
	height: 140px;
	border: 1px solid black;
}

#spot1 {
	display: block;
	background-color: #004AAD;
	margin-top: 0px;
	margin-left: 20px;
	width: 85%;
	height: 140px;
	border: 1px solid black;
}
#spot1 h4{
	margin-top: 0px;
}
#spot1 img{
	align-self: center;
	margin-top: -10px;
}
#spot1 p{
	margin-top: 10px;

}
#spot2 {
	display: block;
	background-color: #004AAD;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	width: 85%;
	height: 140px;
	border: 1px solid black;
}
.flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#event {
	width: 100%;
	grid-column: 2/4;
	grid-row: 1/2;
	background-color: #004AAD;
}
#event p{
text-align: center;
color: white;
text-shadow: 5px 5px 10px black;
}
#event a{
	color: yellow;
	text-shadow: 5px 5px 10px black;
	text-decoration: none;
	}
#weather{
	width: 100%;
	background-color: #004AAD;
	grid-column: 2/4;
	grid-row: 2/3;
}

#weather section {
	margin-top: -40px;
	text-align: center;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid white;
	justify-content: center;
	align-items: center;
	
}
#weather section img {
	float: left;
	margin-top: 20px;

}

#weather section h6{
	margin-left: 20px;
	text-shadow: 5px 5px 10px black;
	color: white;
}
#weather p {
	text-align: center;
	font-size: .8em;
	margin-top: 0px;
	text-shadow: 5px 5px 10px black;
	color: white;
}
.icon {
	width: 40px;
	height: 40px;
	align-self: baseline;
}
#join {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #004AAD;
	grid-column: 2/4;
	grid-row: 3/4;
}
#join p{
	text-align: center;
	color: white;
	text-shadow: 5px 5px 10px black;
	margin: 10px 10px 0 10px;
}
#box {
	grid-column: 4/8;
	grid-row: 1/3;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
#hero {
	width: 100%;
	height: 100%;
	grid-column: 1/3;
	grid-row: 1/4;
	z-index: -1;
}	

#hero-img{
	width: 100%;
	height: 100%;
	grid-column: 1/3;
	grid-row: 1/4;
	z-index: -1;
	
}
#tittle-h{
	color: black;
	text-shadow: 5px 5px 10px #353536;
	position: relative;
	left: 40px;
	grid-column: 1/3;
	grid-row: 1;
	z-index: 1;
}
.subtittle{
	text-align: center;
	color: aliceblue;
	font-family: 'Roboto Condensed';
	text-shadow: 5px 5px 10px black;
}
.button{
	margin-top: 10px;
	align-self: center;
	text-align: center;
	width: 150px;
	height: 30px;
	background-color:#A1A5AA;
	border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;
	text-shadow: 5px 5px 10px black;
	box-shadow: 5px 5px 10px black;
}
.button1{
	border: 3px solid #004AAD;
	margin-left: 100px;
	align-self: center;
	grid-column: 2/3;
	grid-row: 3/4;
	text-align: center;
	width: 150px;
	height: 30px;
	background-color: #004AAD;;
	border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
	text-shadow: 5px 5px 10px black;
	box-shadow: 5px 5px 10px black;
}
.button1:hover{
	background-color:#A1A5AA;
}

#box1 {
	grid-column: 4/8;
	grid-row: 3/4;
	width: 100%;
	background-color: #004AAD;	
}
#box1 p {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 10px black;
	margin: 0 10px 0 10px;
}


nav {
	margin: 0 auto;
	display: flex;
}
.navigation {
	display: flex;
	list-style: none;
	padding: 0;
	align-self: center;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.5em;
}


.navigation a:hover {
	color: white;
	background-color: black;
}

.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}

.navigation li:first-child {
    display: none;
}
.flexible {
	display: flex;
	flex-direction: row;
	margin-left: 200px;
}
.social {
	margin-right: 0px;
	align-self: center;
	margin-left: 50px;
}

.social svg {
	width: 25px;
	height: auto;
}
footer{
	margin-top: 10px;
	padding-bottom: 10px;
}
.picture {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.picture section{
	border-radius: 20px;
	border: 1px solid black;
	background-color:#004AAD;
	width: 400px;
	height:600px;
}
.picture section p{
	color: white;
	margin: 10px;
	text-align: center;
}
.picture section img{
	border-radius: 20px;
	width: 400px;
	height: 300px;
	box-shadow: 0px 1px 5px black;
	animation: fade-in 0.7s;
}
.picture section img:hover{
	box-shadow: 0px 5px 10px black;
}
.visitor {
	margin-left: 50px;
}
.visitor p{
	font-weight: bold;
}

@keyframes fade-in {
    from {
		transition-delay: 0.4s;
        transform: scale(0.9);
        filter: blur(4px);
        border-radius: 20px;
    }
    to {
        transform: scale(1);
        filter: blur(4px);
    }
}
#membership-place{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
form{
	grid-column: 1/2;
	width: 400px;
}
label{
	font-size: 1.3em;
}
.inputs{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#space ul{
	width: 400px;
}
.member-tittle{
	color: #004AAD;
}
.input-box{
	width: 100%;
	padding-bottom: 30px;
}
.submitBtn{
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 5px black;
}
.level{
	margin-top: 20px;
}
#thank{
	text-align: center;
	align-self: center;
	height: 250px;
}
.desc-tittle{
	margin-top: 20px;
}

/* DIRECTORY PAGE */

.card-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin: 10px;
	gap: 10px;
}
.card-grid section{
	margin: 20px;
	width: 100%;
	display: flex;
	border-radius: 20px;
	border: 1px solid black;
	background-color:aliceblue;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.card-grid section img{
	width: 250px;
	height: 150px;
}
.card-grid section p{margin: 10px ;}
#dir-tittle{
	text-align: center;
}
.card-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin: 10px;
	gap: 10px;
}
.card-list section{
	margin: 20px;
	width: 100%;
	display: flex;
	border-radius: 20px;
	border: 1px solid black;
	background-color:aliceblue;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.card-list section img{
	width: 250px;
	height: 150px;
}
.card-list section p{margin: 10px ;}
#but-background{
	display: none;
	text-align: center;
	background-color: aliceblue;
}