@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
  }
  main{
    font-size: 1.5em;
    margin-left: 0px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

    .grid {
        margin-top: 20px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        width: 400px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    img{
        width: 360px;
        margin: 20px;
    }
    
    .name{
        text-align: center;
        color: white;
    }
    .background {
        background-color: #008037;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .text{
        margin: 20px;
        align-items: baseline;
    }
p {
    font-family: sans-serif;  
}
header, footer {
    background-color: #C9E265;
    display: flex;
}
#logo {
    border-radius: 100%;
    width: 200px;
    align-self: center;
}
.tittle {
    color: white;
    align-self: center;
}
nav {
    width: 100%;
    background-color: #36454f;
	text-align: center;
    display: flex;
    justify-content: space-around;
}


nav div {
	flex: 1 1 auto ;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}
.audience {
    text-align: center;
    font-size: 1.5em;
}

footer {
    justify-content: center;
    margin: 0px;
}
@media (max-width: 1200px){
    nav {
      flex-direction: column;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      }
    }
@media (max-width: 760px){
    nav {
      flex-direction: column;
    }
    main {
        grid-template-columns:  1fr;
        justify-items: center;
    }
    
      }