@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    
    margin: 0px;
}
main{
  text-align: center;
  font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Condensed;
}
p {
  font-family: sans-serif;  
}
header, footer {
    background-color: #C9E265;
    display: flex;
}
#logo {
    border-radius: 100%;
    width: 200px;
    align-self: center;
}
.tittle {
    color: white;
    align-self: center;
}
nav {
    width: 100%;
    background-color: #36454f;
	text-align: center;
  display: flex;
  justify-content: space-around;
}


nav div {
	flex: 1 1 auto ;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}

footer {
    justify-content: center;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
:root {
    --primary-color: #C9E265   ;
    --secondary-color: #008037 ;
    --accent1-color: #424B54;
    --accent2-color: white;
}

.primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
  @media (max-width: 1200px){
    nav {
        flex-direction: column;
      }
      
}
@media (max-width: 760px){
    nav {
      flex-direction: column;
    }
    
      }